* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  /* background-color:   #3d5a80; */
}
/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  height: 9rem;
  width: 100%;
  z-index: 100;
}
.nav__links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}
.nav__item {
  margin-left: 5rem;
}
.nav-logo {
  height: 4.5rem;
  transition: all 3s;
}
.nav__link.nav__link--btn {
  display: inline-block;
  background-color: #ffffff;
  color: #3d5a80;
  padding: 0.3rem 2.5rem;
  border-radius: 3rem;

  /* box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25); */
}
.nav__link,
.link .nav_link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
  font-family: poppins;
}
.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: #3d5a80;
  color: #ffffff;
}
.hamburger {
  display: none;
}
/* media quries for nav */
@media only screen and (max-width: 768px) {
  .nav {
    border-bottom: 1px solid #3d5a80;
  }

  .nav__links {
    position: fixed;
    left: -100%;
    top: 7rem;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(180deg, #3d5a80 0%, #5a7292 100%);
    box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.25);

    transition: 0.3s;
  }
  .nav__link {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .nav__links.active {
    left: 0;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
  }
  .hamburger i {
    margin-left: 20px;
  }
}

.header {
  background-image: url("img/Rectangle\ 17\ \(3\).png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.25);
}
.hero-page {
  flex: 1;
  max-width: 115rem;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: start;
  justify-items: start;
}
.header-title {
  width: 40%;
  margin-top: 100px;
}
h3 {
  font-size: 3.5rem;
  line-height: 46.03px;
  color: #ffffff;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 25px;
}
.btn__login {
  background-color: #3d5a80;
  color: #ffffff;
  padding: 0.7rem 4rem;
  border: 2px solid #ffffff;
  font-size: 1.5rem;
  border-radius: 3rem;
  margin-left: 15px;
  box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.25);
}

/* about */

.about {
  background: linear-gradient(180deg, #3d5a80 0%, #5a7292 100%);
  box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.25);
}

/* Registration page */
.head {
  background-image: url("img/Rectangle\ 6\ \(1\).png");
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: contain;
  height: 100vh;
  box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.25);
}
.intro-section {
  text-align: center;
}
.intro-section p {
  font-size: 1.5rem;
  color: #ffffff;
}

.subcription__wrapper {
  counter-reset: number;
  display: flex;
  row-gap: 7rem;
  column-gap: 2rem;
  justify-content: center;
  margin: 7.5rem 0;
  flex-wrap: wrap;
}
.content {
  padding: 3rem 2rem;
  width: 219px;
  margin: 0 0.5rem 2rem;
  background: #98c1d9;
  border-radius: 3.5rem;
  align-content: center;
  position: relative;
}
.content::before {
  counter-increment: number;
  content: counter(number);
  height: 9.5rem;
  width: 9.5rem;
  background: #ffffff;
  color: #3d5a80;
  border: 4.51px solid #3d5a80;
  position: absolute;
  display: block;
  border-radius: 50%;
  top: -7rem;
  left: 5rem;
  font-size: 6rem;
  font-weight: bold;
  line-height: 9rem;
  text-align: center;
  justify-content: center;
}

.card-heading {
  text-align: center;
  margin-bottom: 5px;
  text-decoration-line: underline;
  line-height: 3rem;
  font-weight: 7;
}
.content h1 {
  text-align: center;
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: bold;
}
.content p {
  text-align: center;
  font-size: 1.5rem;
}
ol {
  line-height: 2rem;
  font-size: 14.19px;
  color: #ffffff;
}
.card2 {
  background: #293241;
}
.card2 h1 {
  color: #ffffff;
}
.card-time {
  color: #ffffff;
  text-align: center;
  margin-top: -20px;
}
.card-times {
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .head {
    background-image: url("img/Rectangle\ 59.png");
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: contain;
    height: 100vh;
    box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.25);
    background-color: #3d5a80;
  }
}
/* <i class="fa fa-cc-visa" aria-hidden="true"></i>
 */

/* payment page */
.payment_wrapper {
  background-image: url("img/Rectangle\ 6\ \(4\).png");
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: contain;
  height: 100vh;
  box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.25);
}

.form__wrapper {
  max-width: 350px;
  width: 100%;
  background-color: #ffffff;
  margin: 50px auto;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.25);
}
.form__wrapper .payment__title {
  background: #3d5a80;
  margin-left: -30px;
  text-align: start;
  color: #ffffff;
  font-size: 2rem;
  line-height: 2rem;
  width: 80%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.7rem;
}
.payment__cards {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  column-gap: 10px;

}

.payment__cards  ul {
  list-style-type: circle;
  color:  #3d597f;
  font-size: 1rem;
  margin-right: 20px;

}




.inputfield {
  margin-bottom: 10px;
}
.inputfield .input {
  width: 100%;
  padding: 5px 3px;
  border-radius: 8px;
  offset: 0px, 2.46px;
  border: solid #e5e5e5;
  box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.25);
  border: 1px solid #3d597f;
  outline: none;
  color: #0d1f3d;
  position: relative;
}
.inputfield label {
  display: block;
  color: #0d1f3d;
}
.expiration__wrapper {
  display: flex;
}
.expiration_date {
  width: 70%;
  padding: 3px;
  border-radius: 8px;
  offset: 0px, 2.46px;
  border: 1px solid #3d597f;
  box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  outline: none;
  color: #0d1f3d;
}
.visa__icon {
  
  margin-left: -50px;
  position: absolute;
  padding: 4px;
  height: 2.5rem;
}
.submit--btn {
  display: flex;
  justify-content: space-between;
}
.submit__btn {
  padding: 5px 3px;
  width: 60%;
  border-radius: 8px;
  background: #3d5a80;
  outline: none;
  color: #ffffff;
  border: 1px solid #3d597f;
}
.button__payment {
  padding: 3px 20px;
  border-radius: 8px;
  color: #3d597f;
  outline: none;
  border: 1px solid #3d597f;
  background-color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .payment_wrapper{
    background-image: url("img/Rectangle\ 59.png");
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: contain;
    height: 100vh;
    box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.25);
    background-color: #3d5a80;
  }
}
